@page "/"
@using BusExplorer.Data.Models
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Service Bus Connections</h1>

@if (connections == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var connection in connections)
        {
            <li>@connection.Name: @connection.ConnectionString</li>
        }
    </ul>
}

<hr />

<h2>Add New Connection</h2>

<EditForm Model="@newConnection" OnValidSubmit="@AddConnection">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>Name:</label>
        <InputText @bind-Value="newConnection.Name" />
    </p>
    <p>
        <label>Connection String:</label>
        <InputText @bind-Value="newConnection.ConnectionString" />
    </p>

    <button type="submit">Add</button>
</EditForm>

@code {
    private ServiceBusConnection[]? connections;
    private ServiceBusConnection newConnection = new();

    protected override async Task OnInitializedAsync()
    {
        connections = await Http.GetFromJsonAsync<ServiceBusConnection[]>("http://localhost:5001/ServiceBusConnections");
    }

    private async Task AddConnection()
    {
        await Http.PostAsJsonAsync("http://localhost:5001/ServiceBusConnections", newConnection);
        newConnection = new();
        await OnInitializedAsync();
    }
}
