@page "/"
@rendermode InteractiveServer
@using BusExplorer.Data.Models
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Home</PageTitle>

<h1>Service Bus Explorer</h1>

@if (connections == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select @onchange="OnChangeConnection">
        <option value="">-- Select a Connection --</option>
        @foreach (var connection in connections)
        {
            <option value="@connection.Id">@connection.Name</option>
        }
    </select>
}

@code {
    private HttpClient _httpClient;
    private ServiceBusConnection? selectedConnection;
    private ServiceBusConnection[]? connections;
    private int selectedConnectionId;

    protected override void OnInitialized()
    {
        _httpClient = HttpClientFactory.CreateClient("BusExplorer");
    }

    protected override async Task OnInitializedAsync()
    {
        connections = await _httpClient.GetFromJsonAsync<ServiceBusConnection[]>("ServiceBusConnections");
    }

    private async Task OnChangeConnection(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out int id))
        {
            selectedConnection = connections?.FirstOrDefault(c => c.Id == id);
        }
        else
        {
            selectedConnection = null;
        }

        StateHasChanged();
    }
}