@page "/"
@using BusExplorer.Data.Models
@inject IHttpClientFactory HttpClientFactory

@code {
    private HttpClient _httpClient;

    protected override void OnInitialized()
    {
        _httpClient = HttpClientFactory.CreateClient("BusExplorer");
    }
}


<PageTitle>Home</PageTitle>

<h1>Service Bus Connections</h1>

@if (connections == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var connection in connections)
        {
            <li>@connection.Name: @connection.ConnectionString</li>
        }
    </ul>
}

<hr />

<h2>Add New Connection</h2>

<EditForm Model="@newConnection" OnValidSubmit="@AddConnection">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>Name:</label>
        <InputText @bind-Value="newConnection.Name" />
    </p>
    <p>
        <label>Connection String:</label>
        <InputText @bind-Value="newConnection.ConnectionString" />
    </p>

    <button type="submit">Add</button>
</EditForm>

@code {
    private ServiceBusConnection[]? connections;
    private ServiceBusConnection newConnection = new();

    protected override async Task OnInitializedAsync()
    {
        connections = await _httpClient.GetFromJsonAsync<ServiceBusConnection[]>("ServiceBusConnections");
    }

    private async Task AddConnection()
    {
        await _httpClient.PostAsJsonAsync("ServiceBusConnections", newConnection);
        newConnection = new();
        await OnInitializedAsync();
    }
}
